* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}

.container {
    max-width: 1080px;
    margin: 15px auto;
    padding: 15px;
}

.lottery-numbers {
    width: 500px;
    height: 450px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.cell {
    background-color: #efefef;
    border: 1px solid #c2c2c2;
    margin: -1px -1px 0 0; 
    /*
    ez a border miatt kell majd és mindig a felső és a bal border-ből kell majd levenni ugyanannyit, mint a border-nek a szélessége!!! 
    */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.highlighted {
    background-color: #779dff;
}

.display {
    width: 500px;
    margin: 15px auto;
    min-height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button, input {
    padding: 8px;
    display: block;
    margin: 15px auto;
}
